# Some standard stuff
certifi
pytest
requests
Qdm

# Interactive
ipython
jupyterlab
ipywidgets
tqdm

# Data Wrangling
numpy
pandas

# Visualization
matplotlib
imageio

# Machine Learning
scikit-learn
tensorflow
